#topResultsDiv th, .oneResult, .table th, #settingsCItable th, #prefsTable th, #tab_computeMethods_related th {
    text-align: center;
    vertical-align: middle;
}

#topResultsTable {
    table-layout: fixed;
}

.table th, .table td {
    overflow-wrap: anywhere;
    display: table-cell;
    vertical-align: middle;
}

.nav-pills .nav-item {
    padding-right: 2px;
    padding-bottom: 2px;
}

.nav-pills {
    padding-left: 2px;
    padding-top: 2px;
}
input, .form-control {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}