#topResultsDiv th, .oneResult, .table th, #settingsCItable th, #prefsTable th {
    text-align: center;
    vertical-align: middle;
}

#topResultsTable {
    table-layout: fixed;
}

html, body, .tab-content, #historyDiv {
    height: 100%;
}

.table th, .table td {
    overflow-wrap: anywhere;
    display: table-cell;
    vertical-align: middle;
}