html, body {
    width: 500px;
    margin: 0;
    padding: 0 10px 0 0;
    overflow-x: hidden;
    background: white;
}

h1 {
    margin: 0;
}

hr {
    border: 1px solid #999999;
    height: 0;
    padding: 0;
    line-height: 0;
}

.header-links {
    float: right;
    margin-top: -20px;
}

#statsMoreResults {
    cursor: pointer;
}
.header-links a, #statsMoreResults {
    color: #999999;
    margin-right: 10px;
    text-decoration: none;
}

.header-links a:hover, #statsMoreResults:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}

.body {
    padding: 6px;
}

.fullwidth {
    width: 100%;
    display: block;
}

#stats .leftColumn {
    width: 50%;
    float: left;
}

#stats .rightColumn {
    width: 50%;
    float: left;
}

.clear {
    clear: both;
}

#startButton, #stopButton {
    background: url('/img/run.svg') no-repeat 4px 5px;
    background-size: 20px;
    padding-left: 26px;
}

#resetButton {
    background: url('/img/reload.svg') no-repeat 4px 5px;
    background-size: 20px;
    padding-left: 26px;
}

#statsListItems {
    overflow: hidden;
    font-size: 12px;
}

ul#statsListItems {
    margin: 0;
    padding: 10px;
}

#statsListTitle {
    color: #999999;
}

.selectRegionHelp {
    margin-top: 0px;
}
